ul {
	list-style-type: none ;
}

ul.contents {
	padding: 0 ;
}

table {
	border: none ;
	border-spacing: 0 ;
	border-collapse: collapse ;
	font-size: 10px;
}

td {
	vertical-align: top ;
	padding: 0 ;
	text-align: left ;
	line-height: 1.25 ;
	width: 15% ;
}
